<style>
  .message-block {
    max-width: 800px;
    margin: 1rem auto;
    padding: 1rem;
    background-color: aliceblue;
    box-shadow: 4px 4px 8px gray;
  }
</style>

<div class="message-block">
  <h1>Welcome to Velocious</h1>
  <p>This boilerplate application is intended to jumpstart projects that require user authentication up and running faster. This app, along with it's companion API, provide a basic framework which you can extend as needed.</p>
  <p>The project is intentionally bare bones, and uses minimal styling to make it easier to use whatever component library you wish. It is assumed you will be rebuilding every page for you specific needs, and as such the provided templates exist only as demonstrations of functionality.</p>
  <p></p>
  <h2>Current Features Include</h2>
  <ul>
    <li>Account Registration</li>
    <li>E-Mail Activation</li>
    <li>Password Resets</li>
    <li>Auth & Refresh Tokens</li>
  </ul>
</div>
